# Python System
backend/__pycache__/
backend/**/*.pyc
backend/.idea/
backend/venv/

# Database 
backend/*.db

# Angular System
frontend/node_modules/
frontend/.angular/
frontend/dist/

# Static images 
backend/static/images/